/**
 * Cite
 *
 * Typographic styles for HTML <cite> citation references.
 *
 * Full documentation:
 * https://github.com/unisdr/undrr-mangrove/blob/main/stories/Atom/BaseTypography/BaseTypography.mdx
 */
.mg-body cite,
.mg-content cite {
  display: block;
  font-style: inherit;
  font-weight: 400;
  margin-top: mg-rem(11.25);
}
