.mg-table-of-contents {
  padding-inline-start: var(--mg-spacing-200);
  border-inline-start: 2px solid rgb(var(--mg-color-neutral-300));
  color: rgb(var(--mg-color-text));

  > h2 {
    margin-block: 0 var(--mg-spacing-100);
    font-size: $mg-font-size-400;
  }

  ul,
  ol {
    margin-block: 0;
    padding-inline-start: var(--mg-spacing-200);
  }

  li {
    margin-block: var(--mg-spacing-50);
    padding-inline-start: var(--mg-spacing-25);
    overflow-wrap: anywhere;
  }

  a {
    display: inline-block;
    padding-block: var(--mg-spacing-25);
    color: rgb(var(--mg-color-interactive));
    text-decoration: underline;
    text-underline-offset: 0.15em;
    line-height: 1.5;

    &:hover {
      color: rgb(var(--mg-color-interactive-active));
    }

    &:focus-visible {
      @include mg-focus-ring;
    }
  }
}
