/**
 * Figcaption
 *
 * Typographic styles for HTML <figcaption> elements accompanying figures and media.
 *
 * Full documentation:
 * https://github.com/unisdr/undrr-mangrove/blob/main/stories/Atom/BaseTypography/BaseTypography.mdx
 */
/* figure tag start */
figure {
  margin: 0;

  img {
    max-width: 100%;
    padding-bottom: mg-rem(8.75);
  }

  figcaption {
    @extend %paragraph-font-200;
  }
}

/* figure tag end */
