/**
 * Mark (Highlighted Text)
 *
 * Highlight styling for HTML <mark> elements using theme-aware highlight colors.
 *
 * Full documentation:
 * https://github.com/unisdr/undrr-mangrove/blob/main/stories/Atom/BaseTypography/BaseTypography.mdx
 */
mark {
  background: var(--mg-color-yellow-light);
  font-size: $mg-font-size-200;
  padding: var(--mg-spacing-25);

  @include devicebreak(medium) {
    font-size: $mg-font-size-300;
  }
}
