/**
 * Image Credit
 *
 * Subtle attribution and copyright credit line styling for imagery.
 *
 * Full documentation:
 * https://github.com/unisdr/undrr-mangrove/blob/main/stories/Atom/Images/ImageCaptionCredit/ImageCaptionCredit.mdx
 */
.mg-credits {
  font-size: var(--mg-font-size-200);
  line-height: 1.4;

  @include devicebreak(medium) {
    font-size: var(--mg-font-size-300);
  }
}
